body {
  margin: 0;
  font-family: Arial;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #222;
  color: white;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

section {
  padding: 50px;
}

.card img {
  width: 250px;
}

form input, textarea {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 8px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
}
